* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --posicionhorca: 800px;
  --colorfondo: #B5651D;
}

body {
  background-color: var(--colorfondo);
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

#titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
  line-height: 300%;

}

#tituloerrores {
  padding: 15px;
  width: 30vw;
  text-align: center;
  margin: auto;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

#botones {
  margin-left: 130px;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
  transition: background-color 0.3s ease-in-out
}

.btn:hover {
  background-color: lightblue;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 20%;
  height: 50px;
  margin:  0 auto;
}

#txtresultadofiltrado {
  font-size: 50px;
  text-align: center;
  font-family: Courier, "Lucida Console", monospace;
  line-height: 0%;
}

#txtguiones {
  font-size: 50px;
  text-align: center;
  font-family: Courier, "Lucida Console", monospace;
}

#listaerrores {
  font-size: 40px;
  text-align: center;
  font-family: Courier, "Lucida Console", monospace;
}
  #inputletras {
    display:  block;
  }

  #resolver {
    display:  block;
  }

  #diverrores {
    display:  block;
  }

  .main {
    float: left;
  }

  #suletra {
    text-align: center;
  }

  #listeerrores {
    text-align: center;
  }

  #divmensaje
  {
    position: absolute;
    border-radius: 0.5em;
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: 400px;
    top: 130px;
    z-index: 15;
    display: none;
  }

  #textomensaje
  {
    font-size: 60px;
    font-weight: bolder;
    color:  white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 8em;
  }

  #imgfondo
  {
    position: absolute;
    left: 200px;
    top: 0px;
    z-index: -1;
    border: 5px solid #555;
  }

  #imgplanta
  {
    position: absolute;
    width: 70px;
    height: auto;
    left: 1200px;
    top: 500px;
    display: block;
  }

  #img0
  {
    position: absolute;
    z-index: 0;
     left: var(--posicionhorca);
    top: 0px;
  }

  .imgpartes
  {
    position: absolute;
    left: var(--posicionhorca);
    top: 0px;
    display: none;
  }


  #img1
  {
   
    z-index: 1;
  }

  #img2
  {
    z-index: 2;
  }


  #img3
    {
      z-index: 3;
    }


  #img4
  {
      z-index: 4;
    }


  #img5
    {
      z-index: 5;
    }


  #img6
    {
      z-index: 6;
    }


  #img7
    {
      z-index: 7;
    }


  #img8
    {
      z-index: 8;
    }


  #img9
    {
      z-index: 9;
    }


  #img10
    {
      z-index: 10;
    }


  #img11
    {
      z-index: 11;
    }

    .outline
    {
      text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;  
    }

  #bordeizquierdo
    {
      background-color: var(--colorfondo);;
      position: absolute;
      height: 610px;
      width: 200px;
      left: 0px;
      top: 0px;
      z-index: 12;
    }

    #bordederecho
    {
      background-color: var(--colorfondo);;
      position: absolute;
      height: 610px;
      width: 200px;
      left: 1110px;
      top: 0px;
      z-index: 12;
    }
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: brown;
    color: white;
    text-align: center;
  }


